<table style="width: 30%; text-align: left; border-collapse: collapse;" id="imageContainer">
    <tr>
        
        <td style="color: white;" class="image-item" data-caption="example1">
        <a href="English-Language-Arts/WutheringHeights.html">
         <button class="round-button">
                <img width="200" src="/assets/photos/fireboywatergirl1.png" alt="example1">
            </button>
        </a>
        <div class="caption">example1</div>
    </td> <!-- example1 -->

    <td style="color: white;" class="image-item" data-caption="example2">
        <a href="English-Language-Arts/WutheringHeights.html">
         <button class="round-button">
                <img width="200" src="/assets/photos/fireboywatergirl1.png" alt="example2">
            </button>
        </a>
        <div class="caption">example2</div>
    </td> <!-- example2 -->

    <td style="color: white;" class="image-item" data-caption="example3">
        <a href="English-Language-Arts/WutheringHeights.html">
         <button class="round-button">
                <img width="200" src="/assets/photos/fireboywatergirl1.png" alt="example3">
            </button>
        </a>
        <div class="caption">example3</div>
    </td> <!-- example3 -->

    <td style="color: white;" class="image-item" data-caption="example4">
        <a href="English-Language-Arts/WutheringHeights.html">
         <button class="round-button">
                <img width="200" src="/assets/photos/fireboywatergirl1.png" alt="example4">
            </button>
        </a>
        <div class="caption">example4</div>
    </td> <!-- example4 -->

    <td style="color: white;" class="image-item" data-caption="example5">
        <a href="English-Language-Arts/WutheringHeights.html">
         <button class="round-button">
                <img width="200" src="/assets/photos/fireboywatergirl1.png" alt="example5">
            </button>
        </a>
        <div class="caption">example5</div>
    </td> <!-- example5 -->

    <td style="color: white;" class="image-item" data-caption="example6">
        <a href="English-Language-Arts/WutheringHeights.html">
         <button class="round-button">
                <img width="200" src="/assets/photos/fireboywatergirl1.png" alt="example6">
            </button>
        </a>
        <div class="caption">example6</div>
    </td> <!-- example6 -->
